- import turqey.servlet.ServletContextHolder._
- import turqey.entity.ArticleHistory
- import glitch.GitRepository
- import org.joda.time.{DateTime}
- import org.joda.time.format.{DateTimeFormat}

-@val article:   turqey.entity.Article
-@val histories: Seq[ArticleHistory]

div.container#container
  div.row
    div.col.s12
      - for (h <- histories.reverse)
        div.card
          div.card-content
            span.card-title
              a(href="#{root}/article/#{article.id}/#{h.commitId}/") #{h.created.toString("yyyy/MM/dd HH:mm:ss")} #{h.user.map(_.name)}

