- import turqey.servlet.ServletContextHolder._
- import turqey.entity._

-@val tag:  Tag
-@val articles: Seq[Article]
-@val followers: Seq[User]
-@val followed: Boolean

div.container#main
  div.row
    p タグ #{tag.name} の記事一覧
    p
      button.waves-effect.waves-light.btn(type="button"
        style="display: none"
        data-bind="click: follow, visible: followed")
        i.material-icons.right cancel
        |解除
      button.waves-effect.waves-light.btn(type="button"
        style="display: none"
        data-bind="click: follow, visible: !followed()")
        i.material-icons.right star
        |フォロー
  div.row
    div#whole.col.s12
      - for(a <- articles)
        div.card
          div.card-content
            span.card-title
              a(href="#{root}/article/#{a.id}") #{a.title}
            p
              | #{a.owner.get.name} #{a.created.toString("yyyy/MM/dd")}
  div.row
    p タグ #{tag.name} をフォローしているユーザ
    div.col.s12
      - for (u <- followers)
        div.card
          div.card-content
            span.card-title
              a(href="#{root}/user/#{u.id}") #{u.name}

:!javascript
  var ViewModel = function (initialState){
    var self = this;
    self.followed = ko.observable(initialState);
    self.follow = function(obj, e){
      $.post('#{root}/tag/#{tag.id}/follow', function(dat){
        self.followed(!self.followed());
      });
    };
  };

  var vm = new ViewModel(#{followed.toString});
  ko.applyBindings(vm, document.getElementById('main'));

