- import turqey.servlet.ServletContextHolder._
- import turqey.entity._
- import turqey.servlet._
- import turqey.utils.Implicits._
- import turqey.utils.Json

-@val u: Option[User]
div.container
  form.col.s12#form(action="#{root}/user/#{u.map(_.id)}" method="post")
    div.row
      - if(!u.isDefined)
        div.input-field.col.s12
          input(type="text" name="loginId" value="#{u.map(_.loginId)}" length="120" )
          label ID
      - if(u.isDefined)
        div.col.s2 ID
        div.col.s6 #{u.get.loginId}
    div.row
      div.input-field.col.s12
        input(type="text" name="name" value="#{u.map(_.name)}" length="120")
        label Name
    div.row
      div.input-field.col.s12
        input(type="text" name="email" value="#{u.map(_.email)}" length="120")
        label Mail
    div.row
      div.input-field.col.s12
        input(type="text" name="password" length="120")
        label Pass
    button.waves-effect.waves-light.btn(type="submit")
      i.material-icons.right check
      |保存
