
- import turqey.servlet.ServletContextHolder._
- import turqey.servlet.SessionHolder

-@ val body: String
-@ val title: String = "Turqey"

!!! 5
html
  head
    link(href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(type="text/css" rel="stylesheet" href="#{assets}/vender/css/materialize.css"  media="screen,projection")
    script(type="text/javascript" src="#{assets}/vender/js/jquery.min.js")
    script(type="text/javascript" src="#{assets}/js/turqey.js")
    
    link(href="#{assets}/vender/css/themes/prism.css" rel="stylesheet")
    script(src="#{assets}/vender/js/prism.min.js")
    
    link(href="#{assets}/css/turqey.css" rel="stylesheet")
    
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    
    title #{title}
  
  body
    script(type="text/javascript" src="#{assets}/vender/js/materialize.js")
    script(type="text/javascript" src="#{assets}/vender/js/knockout.js")
    script(type="text/javascript" src="#{assets}/vender/js/knockout.autocomplete.js")
    script(type="text/javascript" src="#{assets}/vender/js/knockout-ace.js")
    
    header
      nav#topnav
        div.container
          div.nav-wrapper
            a.brand-logo(href="#{root}/" style="font-family: Roboto;font-weight: 100;") TurQey
            ul.right.hide-on-med-and-down
              - if (SessionHolder.user.isDefined)
                - val u = SessionHolder.user.get
                li
                  a.waves-effect.waves-light(href="#{root}/tag" style="color: white;") タグ一覧
                li
                  a#notifInd.dropdown-button.waves-effect.waves-light( 
                    data-activates="notifDropdown" 
                    data-bind="text: notifCount" 
                    data-constrainwidth="false"
                    data-beloworigin="true")
                li
                  a#menuDrop.dropdown-button.waves-effect.waves-light( 
                    data-activates="menuDropdown"
                    data-constrainwidth="false"
                    data-beloworigin="true"
                    data-alignment="right") #{u.name}
            a.button-collapse.right(data-activates="mobile-menu")
              i.material-icons menu
            ul.side-nav#mobile-menu
              li
                a.waves-effect.waves-light(href="#{root}/tag")
                  i.material-icons.small.left label
                  |タグ一覧
              li.divider
              li
                a(href="#{root}/user/self")
                  i.material-icons.small.left person
                  |プロフィール
              li
                a(href="#{root}/article/edit")
                  i.material-icons.small.left edit
                  |記事作成
              li
                a(href="#{root}/tag/followings")
                  i.material-icons.small.left star
                  |フォロー中のタグ
              li.divider
              li
                a(href="#{root}/user/")
                  i.material-icons.small.left people
                |ユーザ一覧
              li.divider
              li
                a(href="#{root}/logout")
                  i.material-icons.small.left exit_to_app
                  |ログアウト
        ul#notifDropdown.dropdown-content(data-bind="foreach:notifs")
          /   ko if:$index !== 0
          li.divider
          /   /ko
          li
            a(data-bind="text: content, attr: {href: linkTo}, click: $root.setAsRead")

      ul#menuDropdown.dropdown-content(style="width: 13rem;overflow: hidden;")
        li
          a(href="#{root}/user/self")
            i.material-icons.small.left person
            |プロフィール
        li
          a(href="#{root}/article/edit")
            i.material-icons.small.left edit
            |記事作成
        li
          a(href="#{root}/tag/followings")
            i.material-icons.small.left star
            |フォロー中のタグ
        li.divider
        li
          a(href="#{root}/user/")
            i.material-icons.small.left people
            |ユーザ一覧
        li.divider
        li
          a(href="#{root}/logout")
            i.material-icons.small.left exit_to_app
            |ログアウト
      
      :!javascript
        $( document ).ready(function(){ $(".button-collapse").sideNav({edge: 'right'}); });
        var TopnavVM = function (){
          var self = this;
          self.notifCount = ko.pureComputed(function (){ return self.notifs().length; });
          self.notifs = ko.observableArray([]);
          self.loadNotifs = function (){
            $.get('#{root}/api/notifs', function (response){
              self.notifs(response);
              $('#notifInd').dropdown();
              setTimeout(self.loadNotifs, 30000);
            });
          };
          self.setAsRead = function (item){
            $.post('#{root}/api/notif_read', item, function (response){
            });
            return true;
          }
        };
        var topnavVM = new TopnavVM();
        ko.applyBindings(topnavVM, document.getElementById('topnav'));
        topnavVM.loadNotifs();
    
    main
      !~~ body
    
    
